@model CarRental.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        @if (User.IsInRole("Owner") || User.IsInRole("Admin"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.UserIdFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserIdFrom)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserIdTo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserIdTo)
            </dd>
        }
        </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
